.btn {
  &_small,
  &_middle,
  &_large {
    &:hover {
      background-color: var(--background-white-hover) !important;
      border: 1px solid var(--border-color-default) !important;
    }
    &:active {
      background-color: var(--background-white-pressed) !important;
      border: 1px solid var(--border-color-default) !important;
    }
    &:disabled {
      background-color: var(--background-white-default);
      border: 1px solid var(--border-color-default);
      .icon {
        rect,
        path {
          fill: var(--text-color-disable) !important;
        }
      }
    }
  }
  &_small {
    height: 32px;
    width: 32px !important;
  }
  &_middle {
    height: 40px;
    width: 40px !important;
  }
  &_large {
    height: 44px;
    width: 44px !important;
  }
}
.input {
  &_small,
  &_middle,
  &_large {
    text-align: center;
    &:disabled {
      background-color: var(--background-white-disabled);
      border: 1px solid var(--border-color-default);
      color: var(--text-color-disable);
    }
  }
  &_small {
    height: 32px;
    width: 40px;
  }
  &_middle {
    height: 40px;
    width: 48px;
    font-size: 16px;
  }
  &_large {
    height: 44px;
    width: 48px;
    font-size: 16px;
  }
}
